.header_top {
    background: linear-gradient(98.03deg, #FF4646 0.58%, #C2206E 70.54%);

    @media (max-width: 990px) {
        display: none;
    }

    .header_top_wrap {
        padding: 5px 0;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            position: relative;
            top: -1px;
            right: -3px;
        }

        .header_top_text {
            margin: 0 15px;
            color: #FFF;
            font: 500 14px 'Inter', sans-serif;
        }

        .header_top_link {
            padding: 8px 18px;
            text-align: center;
            font: 600 14px 'Inter', sans-serif;
            border-radius: 6px;
            color: #D8D5DE;
            background: #0B1423;
            display: block;
        }
    }
}

.header_main_wrap {
    position: relative;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;

    .header_logo {
        img {
            object-fit: contain;

            @media (max-width: 990px) {
                width: 138px;
                height: 35px;
            }
        }
    }

    nav {

        @media (max-width: 990px) {
            background: #151F31;
            position: fixed;
            left: 0;
            top: 0;
            transition: .3s;
            width: 85vw;
            height: 100vh;
            z-index: 999;
            box-sizing: border-box;
            padding: 20px;
            transform: translateX(-120%);
            visibility: hidden;
        }

        .mob_logo {
            .header_logo {
                img {
                    height: 32px;
                    width: 110px;
                }
            }

            @media (max-width: 990px) {
                margin-bottom: 30px;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }

        .header_nav {
            display: flex;
            align-items: center;

            @media (max-width: 990px) {
                flex-direction: column;
                align-items: flex-start;
            }

            li:nth-child(2) {
                margin: 0 50px;

                @media (max-width: 1280px) {
                    margin: 0 30px;
                }

                @media (max-width: 990px) {
                    margin: 0;
                }
            }

            li:nth-child(1) {
                &::after {
                    content: url(../img/header/live.svg);
                    position: absolute;
                    left: 0;
                    top: 2px;
                }
                &::before {
                    content: url(../img/header/arr.svg);
                    position: absolute;
                    right: -19px;
                    top: 0;
                    opacity: 0.5;
                }
            }

            li:nth-child(2) {
                @media (max-width: 990px) {
                    margin-bottom: 20px;
                }

                &::after {
                    content: url(../img/header/casino.svg);
                    position: absolute;
                    left: 0;
                    top: 1px;
                }
            }

            li:nth-child(3) {
                @media (max-width: 990px) {
                    margin-bottom: 20px;
                }

                &::after {
                    content: url(../img/header/star.svg);
                    position: absolute;
                    left: 0;
                    top: 1.5px;
                }
            }

            li {
                padding-left: 23px;
                position: relative;

                @media (max-width: 990px) {
                    padding-right: 50px;
                    margin-bottom: 20px;
                }

                .arrow_mob {
                    position: absolute;
                    right: -18px;

                    &::after {
                        content: url(../img/header/arr.svg);
                    }

                    @media (max-width: 990px) {
                        right: 30px;
                        top: 0;
                    }
                }

                &:hover {
                    .sub-menu {
                        opacity: 1;
                        pointer-events: auto;
                    }
                }

                a {
                    color: #D8D5DE;
                    font: 500 16px 'Inter', sans-serif;
                }

                .sub-menu {
                    opacity: 0;
                    pointer-events: none;
                    position: absolute;
                    padding: 25px 15px;
                    background: #1D283A;
                    top: 185%;
                    min-width: 185px;
                    left: 0;
                    transition: .3s;
                    box-shadow: 0 4px 47px rgba(0, 0, 0, .25);
                    border-radius: 6px;

                    &::before {
                        content: '';
                        position: absolute;
                        top: -44px;
                        right: 10px;
                        border: 35px solid transparent;
                        border-bottom: 15px solid #1D283A;

                        @media (max-width: 990px) {
                            display: none;
                        }
                    }

                    @media (max-width: 990px) {
                        transition: none;
                        box-shadow: none;
                        border-radius: 0;
                        background: transparent;
                        top: auto;
                        min-width: auto;
                        padding: 0;
                        position: relative;
                        left: 1px;
                        opacity: 1;
                        pointer-events: auto;
                        margin-top: 15px;
                        display: none;
                    }

                    &::after {
                        content: '';
                        height: 30px;
                        width: 100%;
                        position: absolute;
                        top: -30px;

                        @media (max-width: 990px) {
                            display: none;
                        }
                    }

                    li {
                        margin: 0 0 30px 0;
                        padding: 0;

                        @media (max-width: 990px) {
                            margin: 0 0 14px 0;
                        }

                        &::after {
                            display: none;
                        }
                        &::before {
                            display: none;
                        }

                        a {
                            font: 500 14px 'Inter', sans-serif;
                            color: #fff;
                        }
                    }

                    li:last-child {
                        margin: 0;
                    }
                }
            }
        }
    }

    .nav_active {
        transform: translateX(0);
        visibility: visible;
    }

    .lang_wrap {
        @media (max-width: 990px) {
            padding-right: 20px;
            margin-left: auto;
        }

        li {
            position: relative;

            &::after {
                content: url(../img/header/arr.svg);
                position: absolute;
                right: -18px;
                top: -1px;
            }

            &:hover {
                .sub-menu {
                    opacity: 1;
                    pointer-events: auto;
                }
            }

            a {
                color: #D8D5DE;
                font: 500 14px 'Inter', sans-serif;
            }

            .sub-menu {
                position: absolute;
                opacity: 0;
                pointer-events: none;
                position: absolute;
                padding: 5px 10px;
                background: #1D283A;
                top: 150%;
                left: -5px;
                transition: .3s;
                box-shadow: 0 4px 47px rgba(0, 0, 0, .25);
                border-radius: 6px;

                &::after {
                    content: '';
                    height: 10px;
                    top: -10px;
                    position: absolute;
                    left: 0;
                    width: 100%;
                }

                li {
                    &::after {
                        display: none;
                    }
                }
            }
        }
    }

    .header_search {
        display: block;
        box-sizing: border-box;
        position: relative;

        @media (max-width: 1280px) {
            width: 190px;
        }

        @media (max-width: 990px) {
            width: 100%;
            margin-top: 10px;
        }

        ::-webkit-scrollbar {
            width: 3px;
            background: transparent;
        }

        ::-webkit-scrollbar-thumb {
            width: 2px;
            background: #77B9FF;
            border-radius: 6px;
            position: relative;

            @media (max-width: 990px) {
                background: transparent;
            }
        }

        &:hover {
            .search_input {
                background: #25324A;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }

            input::placeholder {
                color: #D8D5DE;
            }

            .search_icon {
                filter: invert(66%) sepia(79%) saturate(193%) hue-rotate(187deg) brightness(99%) contrast(97%);
            }
        }

        .search_icon {
            position: absolute;
            left: 18px;
            transition: .3s;
            top: 17px;
            z-index: 2;
        }

        .search_input {
            box-sizing: border-box;
            width: 100%;
            transition: .3s;
            position: relative;
            background: #151F31;
            border-radius: 6px;
            font: 500 14px 'Inter', sans-serif;
            color: #fff;
            outline: none;
            border: none;
            padding: 16px 16px 16px 45px;

            @media (max-width: 990px) {
                border: 1px solid #D8D5DE;
            }
        }

        input::placeholder {
            color: #A4A6AC;
            font: 500 14px 'Inter', sans-serif;
        }

        .header_output {
            overflow: hidden;
            position: absolute;
            left: 0;
            width: 100%;
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 13px;
            box-sizing: border-box;
            top: 90%;
            border-radius: 6px;
            background: #151F31;
            padding: 12px 16px 12px 26px;
            pointer-events: none;
            opacity: 0;
            max-height: 120px;
            overflow-y: scroll;
            transition: .3s;

            @media (max-width: 990px) {
                border: 1px solid #D8D5DE;
                top: 120%;
            }

            a {
                display: block;
                font: 400 14px 'Inter', sans-serif;
                color: #fff;
                padding: 8px 20px;
                transition: .3s;

                @media (max-width: 990px) {
                    padding: 8px 15px;
                }

                &:hover {
                    background: #1D283A;
                    border-radius: 6px;
                }
            }
        }
    }

    .active_search {
        .search_input {
            box-shadow: none;
            background: #151F31;
        }

        .search_icon {
            filter: invert(67%) sepia(67%) saturate(1262%) hue-rotate(183deg) brightness(101%) contrast(101%);
        }

        &:hover {
            .search_input {
                box-shadow: none;
                background: #151F31;
            }

            .search_icon {
                filter: invert(67%) sepia(67%) saturate(1262%) hue-rotate(183deg) brightness(101%) contrast(101%);
            }
        }

        .header_output {
            opacity: 1;
            pointer-events: auto;
        }
    }

    .mob {
        display: none;

        @media (max-width: 990px) {
            display: block;
        }
    }

    .desk {
        @media (max-width: 990px) {
            display: none;
        }
    }
}


.call_menu {
    margin-left: 30px;

    img {
        position: relative;
        top: 3.5px;
    }
}

.bg {
    opacity: 0;
    transition: .2s;
    pointer-events: none;
    visibility: hidden;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 9;
    box-sizing: border-box;
    background: rgba(0, 0, 0, .6);
    position: fixed;
}

.bg_active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}