.best_games {
    text-align: center;

    @media(max-width:576px) {
        text-align: left;
    }
}

.best_games_box {
    display: flex;
    align-items: center;
    background-color: rgba(119, 185, 255, 0.1);
    border-radius: 74px;
    color: #FAF7FF;
    padding: 5px 13px;
    max-width: fit-content;
    margin: 0 auto 15px;
    font: 600 16px/22.5px 'Inter', sans-serif;

    @media(max-width:576px) {
        margin: 0 0 10px;
    }
}

.best_games_box_img {
    display: block;
    width: 16px;
    height: 16px;
    margin: 0 8px 3px 0;
}

.best_games_title {
    font: 700 36px/46px 'Montserrat', sans-serif;
    max-width: 590px;
    width: 100%;
    color: #fff;
    margin: 0 auto 10px;

    @media(max-width:576px) {
        font: 700 24px/31px 'Montserrat', sans-serif;
    }
}

.best_games_text {
    font: 400 18px/31px 'Inter', sans-serif;
    max-width: 795px;
    width: 100%;
    margin: 0 auto 50px;

    @media(max-width:576px) {
        font: 400 15px/24px 'Inter', sans-serif;
        margin-bottom: 30px;
    }
}

.best_games_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;

    @media(max-width:991px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media(max-width:768px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media(max-width:360px) {
        grid-template-columns: 1fr;
    }
}

.best_games_item {
    text-align: center;
    background-color: #151F31;
    border-radius: 12px;
    padding: 20px 20px 24px;

    @media(max-width:576px) {
        padding: 20px 20px 15px;
    }
}

.best_games_img {
    max-width: 62px;
    width: 100%;
    max-height: 62px;
    border-radius: 12px;
    margin: 0 auto 20px;
}

.best_games_name {
    font: 700 22px/27px 'Montserrat', sans-serif;
    color: #fff;

    @media(max-width:576px) {
        font: 700 18px/22px 'Montserrat', sans-serif;
    }
}