.bonus_section {
    position: relative;
    z-index: 1;
    padding: 80px 0 40px;
    background-color: #151F31;
    border-radius: 36px 36px 0px 0px;
    overflow: hidden;

    @media(max-width:576px) {
        padding: 43px 0 17px;
    }
}

.bonus_section_img_wrap {
    position: absolute;
    top: -130px;
    right: 0;
    z-index: -1;

    @media(max-width:1200px) {
        top: 0;
        right: -50px;
    }

    @media(max-width:991px) {
        display: none;
    }
}

.bonus_section_img_wrap img {
    max-width: 800px;
    width: 100%;
    max-height: 1200px;
    height: 100%;
    object-fit: cover;

    @media(max-width:1200px) {
        max-height: 900px;
    }

}

.bonus_section_title_wrap {
    max-width: 640px;
    width: 100%;

    @media(max-width:991px) {
        max-width: 100%;
    }
}

.bonus_section_title {
    text-align: left;
    margin-bottom: 12px;
}

.bonus_section_title::before {
    top: -10px;
    margin: 0;
}

.bonus_section_text {
    font: 400 18px/27.5px 'Inter', sans-serif;
    margin-bottom: 25px;

    @media(max-width:576px) {
        font: 400 15px/23.5px 'Inter', sans-serif;
        margin-bottom: 13px;
    }
}

.tabs {
    max-width: 627px;
    width: 100%;
    margin-bottom: 30px;

    @media(max-width:991px) {
        max-width: 100%;
    }

    @media(max-width:576px) {
        margin-bottom: 0;
    }
}

.tabs_nav_wrap {
    @media(max-width:768px) {
        margin: 0 -15px;
        overflow-x: scroll;
    }
}

.tabs_nav {
    max-width: 627px;
    width: 100%;
    background-color: #0B1423;
    display: flex;
    flex-wrap: wrap;
    padding: 4px 4px 0;
    margin-bottom: 25px;
    border-radius: 16px;

    @media(max-width:768px) {
        min-width: 565px;
    }

    @media(max-width:576px) {
        margin-bottom: 13px;
    }
}

.tabs_nav_item {
    font: 600 14px/16px 'Inter', sans-serif;
    color: #A4A6AC;
    padding: 19px 16px;
    border-radius: 16px;
    background-color: transparent;
    margin-bottom: 4px;
    cursor: pointer;

    @media(max-width:576px) {
        padding: 16px;
        font: 600 12px/16px 'Inter', sans-serif;
    }
}

.tabs_nav_item:last-child {
    margin-right: 0;
}

.tabs_nav_item.active {
    color: #D8D5DE;
    background-color: #1D283A;
}

.tabs_content {
    display: none;
}

.tabs_content.active {
    display: block;
}

.tabs_text {
    font: 400 16px/27px 'Inter', sans-serif;

    @media(max-width:576px) {
        font: 400 15px/23.5px 'Inter', sans-serif;
    }
}

.bonus_section_img_mob {
    display: none;

    @media(max-width: 991px) {
        display: block;
        margin: 0 auto;
        text-align: center;
    }

    @media(max-width: 576px) {
        margin: 0 -15px;
    }
}

.bonus_section_img_mob img {
    max-width: 375px;
    width: 100%;
    max-height: 263px;
    height: 100%;
    object-fit: cover;
}

.bonus_section .casino_ouput_item {
    background-color: #0B1423;
}