.mob_casinos {
    padding-top: 55px;
    position: relative;
    text-align: center;

    @media(max-width:576px) {
        padding-top: 30px;
        text-align: left;
    }
}

.mob_casinos_bg_desk {
    position: absolute;
    top: -180px;
    height: 829px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @media(max-width:991px) {
        display: none;
    }
}

.mob_casinos_bg_desk_green {
    left: -85px;
    width: 405px;

    @media(max-width:1200px) {
        left: -155px;
    }
}

.mob_casinos_bg_desk_red {
    right: -85px;
    width: 450px;

    @media(max-width:1200px) {
        right: -155px;
    }
}

.mob_casinos_title {
    font: 700 36px/46px 'Montserrat', sans-serif;
    margin-bottom: 15px;
    color: #fff;

    @media(max-width:576px) {
        font: 700 24px/31px 'Montserrat', sans-serif;
    }
}

.mob_casinos_text {
    font: 400 18px/27.5px 'Inter', sans-serif;
    max-width: 744px;
    width: 100%;
    margin: 0 auto 24px;

    @media(max-width:576px) {
        font: 400 12px/19.5px 'Inter', sans-serif;
    }
}

.mob_casinos_box {
    position: relative;
    z-index: 2;
    max-width: 824px;
    width: 100%;
    padding: 17px 84px;
    margin: 0 auto 40px;
    background-color: #151F31;
    border-radius: 12px;

    @media(max-width:576px) {
        padding: 16px 84px 16px 26px;
        margin-bottom: 15px;
    }
}

.mob_casinos_box_text {
    font: 600 16px/22.5px 'Inter', sans-serif;

    @media(max-width:576px) {
        font: 600 12px/16px 'Inter', sans-serif;
    }
}

.mob_casinos_comparison {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 48px;

    @media(max-width:768px) {
        grid-template-columns: 1fr;
    }
}

.mob_casinos_comparison_img {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    max-width: 345px;
    width: 100%;
    max-height: 280px;
    height: 100%;
    margin: 0 auto;

    @media(max-width: 768px) {
        display: block;
    }
}

.mob_casinos_comparison_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mob_casinos_list_wrap {
    overflow: hidden;
    position: relative;
    padding: 20px 30px 22px 40px;
    background-color: #151F31;
    border-radius: 12px;
    text-align: left;
    margin-bottom: 76px;

    @media(max-width:576px) {
        padding: 15px 21px 0;
        margin-bottom: 15px;
    }
}

.mob_casinos_list {
    @media(max-width: 768px) {
        margin-bottom: 120px;
    }
}

.mob_casinos_list_title {
    font: 700 26px/35.5px 'Montserrat', sans-serif;
    color: #fff;
    margin-bottom: 25px;

    @media(max-width:576px) {
        font: 700 20px/35.5px 'Montserrat', sans-serif;
    }
}

.mob_casinos_item {
    position: relative;
    padding-left: 40px;
    margin-bottom: 18px;

    @media(max-width:576px) {
        margin-bottom: 15px;
    }
}

.mob_casinos_list .mob_casinos_item::before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    content: '';
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.mob_casinos_list_pros .mob_casinos_item::before {
    background-image: url('../img/mob_casinos/icon_plus.svg');
}

.mob_casinos_list_cons .mob_casinos_item::before {
    background-image: url('../img/mob_casinos/icon_minus.svg');
}

.mob_casinos_list_text {
    font: 400 18px/27.5px 'Inter', sans-serif;

    @media(max-width:576px) {
        font: 400 15px/23.5px 'Inter', sans-serif;
    }
}
.mob_casinos .main_section_nav {
    margin-bottom: 30px;
}
