.review {
    background-color: #151F31;
    padding: 76px 0 88px;
    border-radius: 36px 36px 0 0;

    @media(max-width:576px) {
        padding: 60px 0 0;
    }
}

.review__title {
    margin-bottom: 40px;

    @media(max-width:576px) {
        margin-bottom: 20px;
    }
}

.review__box {
    display: flex;
    align-items: center;
    margin-bottom: 48px;

    @media(max-width:768px) {
        display: block;
        text-align: left;
        background-color: rgba(119, 185, 255, 0.1);
        padding: 16px 25px 30px 16px;
        border-radius: 12px;
    }

    @media(max-width:576px) {
        margin-bottom: 20px;
    }
}

.review_photo_wrap {
    text-align: center;
    margin-right: 50px;

    @media(max-width:768px) {
        display: flex;
        align-items: center;
        margin: 0;
        text-align: left;
        margin-bottom: 17px;
    }
}

.review_photo {
    display: block;
    width: 208px;
    height: 208px;
    border-radius: 50%;
    margin-bottom: 23px;

    @media(max-width:768px) {
        width: 41px;
        height: 41px;
        margin: 0 14px 0 0;
    }
}

.review_name {
    font: 700 22px/27.5px 'Inter', sans-serif;
    font-style: italic;
    color: #FAF7FF;

    @media(max-width:576px) {
        font: 700 16px/27.5px 'Inter', sans-serif;
    }
}

.review_rev {
    position: relative;
    max-width: 735px;
    width: 100%;
    padding: 68px 38px 33px;
    background-color: rgba(119, 185, 255, 0.1);
    border-radius: 12px;

    @media(max-width:768px) {
        padding: 0;
        background-color: transparent;
    }
}

.review_rev::before {
    position: absolute;
    left: 26px;
    top: 31px;
    content: '';
    background-image: url('../img/review/quotes.svg');
    width: 55px;
    height: 45px;
    z-index: 0;

    @media(max-width:768px) {
        display: none;
    }
}

.review_rev_text {
    font: 500 18px/27.5px 'Inter', sans-serif;
    font-style: italic;
    position: relative;
    margin-top: 35px;

    @media(max-width:576px) {
        font: 500 14px/24.5px 'Inter', sans-serif;
        margin-top: 25px;
    }
}

.review_rev_text:first-child {
    margin-top: 0;
}

.review_rаting_mесhаnism {
    text-align: center;
    margin-bottom: 52px;

    @media(max-width:576px) {
        text-align: left;
        margin-bottom: 25px;
    }
}

.review_rаting_mесhаnism_title {
    font: 700 26px/35.5px 'Montserrat', sans-serif;
    margin-bottom: 12px;
    color: #fff;

    @media(max-width:576px) {
        font: 700 20px/28px 'Montserrat', sans-serif;
        margin-bottom: 20px;
    }
}

.review_rаting_mесhаnism_text {
    font: 400 18px/27.5px 'Inter', sans-serif;

    @media(max-width:576px) {
        font: 400 15px/23.5px 'Inter', sans-serif;
    }
}

.review_оur_img-wrap {
    display: grid;
    grid-template-columns: minmax(400px, 1fr) minmax(350px, 450px);

    @media(max-width:768px) {
        grid-template-columns: 1fr;
    }
}

.review_our_rating_title {
    font: 700 36px/46px 'Montserrat', sans-serif;
    color: #fff;
    margin-bottom: 23px;

    @media(max-width:576px) {
        font: 700 24px/31px 'Montserrat', sans-serif;
        margin-bottom: 10px;
    }
}

.review_оur_rаting_text {
    font: 400 18px/27.5px 'Inter', sans-serif;

    @media(max-width:576px) {
        font: 400 15px/23.5px 'Inter', sans-serif;
    }
}

.review_оur_img {
    max-width: 450px;
    width: 100%;
    max-height: 330px;
    height: 100%;
    object-fit: cover;

    @media(max-width:768px) {
        display: block;
        margin: 0 auto;
        order: 3;
    }

    @media(max-width:576px) {
        max-width: 100%;
    }
}

.review_оur_link {
    font: 700 18px/22px 'Montserrat', sans-serif;
    display: block;
    max-width: 263px;
    padding: 21px 49px;
    margin-top: 33px;

    @media(max-width:576px) {
        text-align: center;
        max-width: 100%;
        margin-top: 25px;
        font: 700 15px/18.3px 'Montserrat', sans-serif;
    }
}