.top_casino {
    position: relative;
    padding-bottom: 30px;
}

.top_casino_img {
    position: absolute;
    width: 827px;
    height: 832px;
    object-fit: cover;
    top: -55px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 0;

    @media(max-width:800px) {
        display: none;
    }
}

.top_casino_title {
    font: 700 36px/46px 'Montserrat', sans-serif;
    max-width: 590px;
    width: 100%;
    text-align: center;
    color: #fff;
    margin: 0 auto 65px;

    @media(max-width:576px) {
        text-align: left;
        font: 700 24px/31px 'Montserrat', sans-serif;
        margin-bottom: 25px;
    }
}

.top_casino_list {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;

    @media(max-width:800px) {
        grid-template-columns: 1fr;
        gap: 16px;
    }
}

.top_casino_item {
    color: #fff;
    background-color: #151F31;
    border-radius: 12px;
    overflow: hidden;
    transition: box-shadow 0.3s;
}

.top_casino_item:hover {
    box-shadow: 0px 4px 42px rgba(0, 0, 0, 0.33);
}

.top_casino_item:nth-child(1) {
    @media(max-width:800px) {
        order: 2;
    }
}

.top_casino_item:nth-child(2) {
    background: linear-gradient(98.03deg, #FF4646 0.58%, #C2206E 70.54%);
    margin: -30px 0 30px;

    @media(max-width:800px) {
        margin: 0;
        order: 1;
    }
}

.top_casino_item:nth-child(2) .top_casino_item_content {
    background-color: #151F31;
    margin: 3px 3px 0 3px;
    border-radius: 12px 12px 0 0;

}

.top_casino_item:nth-child(3) {
    @media(max-width:800px) {
        order: 3;
    }
}

.top_casino_item_content {
    padding: 22px 38px 20px;

    @media(max-width:576px) {
        position: relative;
        padding: 22px 19px 23px;
    }
}

.top_casino_item_title {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 151, 54, 0.1);
    border-radius: 62px;
    padding: 7px;
    max-width: 145px;
    width: 100%;
    margin: 0 auto;

    @media(max-width:576px) {
        max-width: 114px;
        margin: 0;
        padding: 8px;
    }
}

.top_casino_icon {
    width: 38px;
    height: 34px;

    @media(max-width:576px) {
        width: 20px;
        height: 18px;
    }
}

.top_casino_text {
    font: 700 18px/22px 'Montserrat', sans-serif;
    margin: 5px 0 0 7px;
    color: #FF9736;

    @media(max-width:576px) {
        font: 700 15px/18.3px 'Montserrat', sans-serif;
        margin: 3px 0 0 7px;
    }
}

.top_casino_item_img_wrap {
    display: block;
    text-align: center;
    margin-bottom: 5px;
}

.top_casino_item_img_wrap img {
    max-width: 285px;
    width: 100%;
    max-height: 157px;
    height: 100%;
    object-fit: cover;
}

.top_casino_box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    margin-bottom: 20px;

    @media(max-width:576px) {
        text-align: left;
    }
}

.top_casino_offer_name {
    font: 400 14px/21px 'Inter', sans-serif;
    color: #D8D5DE;
    margin-bottom: 2px;
}

.top_casino_offer_text {
    font: 700 18px/22px 'Montserrat', sans-serif;
}

.top_casino_price {
    font: 700 18px/22px 'Montserrat', sans-serif;
    max-width: 250px;
    width: 100%;
    padding: 17px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #1D283A;
    border-radius: 16px;

    @media(max-width:576px) {
        font: 700 15px/18.3px 'Montserrat', sans-serif;
        position: absolute;
        top: 18px;
        right: 18px;
        max-width: 136px;
    }
}

.top_casino_link {
    font: 700 18px/22px 'Montserrat', sans-serif;
    display: block;
    border-radius: 0;
    padding: 21px;

    @media(max-width:576px) {
        font: 700 15px/18.3px 'Montserrat', sans-serif;
        padding: 16px;
    }
}